{
  "extends": "standard",

  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },

  "plugins": [
    "react"
  ],

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "globals": {
    "JSON": true,
    "beforeEach": true,
    "afterEach": true,
    "it": true,
    "describe": true
  }
}
